/* TEMPLATE CSS */


	body {padding-top:50px;}
	body, h1, h2, h3, h4, h5, h6 {font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight: 700;}
	body, html {height: 100%;width: 100%;}
	img {max-width:100%;height:auto;} 
	p {font-weight:normal;}
	

/* MAIN CONTAINER WRAPPER AND BACKGROUND IMAGES */
	
	body {background: url(../img/old-delta2.jpg) no-repeat scroll center 44px #ffffff;background-attachment: fixed;}
	.container.main-container {background:rgba(255, 255, 255, 0.85);box-shadow:2px 2px 10px #333333;}
	
	
/* -HIDE OR DISPLAY CONTENT- MODULE SUFFIX UTILITIES - SPECIAL BREAKPOINT FOR DESKTOP TO MOBILE BREAKPOINT */

	.hidden-under-1001 {display:none;}
	.visible-under-1001 {display:block;}
	@media (min-width: 1001px) { .hidden-under-1001 {display:block;}	.visible-under-1001 {display:none;}		}
	

/* FLUID WIDTH CONTAINER LIMIT FOR LARGE SCREENS */
		.container-fluid {max-width:2000px;}


 /* MAIN NAVIGATION */

 
	/* FIXES FOR A NON-FIXED MENU */
	body {padding-top:0px;}
	.navbar {margin-bottom:0px;}

	/* Styles for Desktop Menu */
	
		/* Parent Item Hover Effects */
		.navbar-nav > li:hover {background: #eeeeee;}
		/* Hide 1st Level Sub Menu Items */
		.nav-pills li.parent ul.nav-child, .navbar-nav li.parent ul.nav-child {display:none;padding:0px;z-index:9999999999;position:relative;}
		/* Sub Menu Items Display */
		ul.nav.navbar-nav {z-index: 9999;position: relative;}
		.nav-pills li.parent:hover ul.nav-child, .navbar-nav li.parent:hover ul.nav-child {display:block; position:absolute; background:#F8F8F8;width:250px;border-left:5px solid #2995BD;}
		.nav-pills ul.nav-child li, .navbar-nav ul.nav-child li {list-style:none;padding-left:20px;border-bottom:1px dotted #DFDFDF;}
		.nav-pills ul.nav-child li:hover, .navbar-nav ul.nav-child li:hover {background:#eeeeee;}
		.nav-pills ul.nav-child li a, .navbar-nav ul.nav-child li a {font-size: 14px;padding: 0px 25px 0px 50px;margin-left: -40px;line-height: 3.5em;position: relative;display: block;}
		.nav-pills ul.nav-child li a:hover, .navbar-nav ul.nav-child li a:hover {text-decoration:none;}
		.navbar-nav > li > a {padding-top: 25px;padding-bottom: 25px;}
		/* 2nd Level Sub Menu Hover Offset */
		.nav-pills ul li ul, .navbar-nav ul li ul {margin-left: 75px;}
		@media (max-width: 1400px) { .nav-pills ul li ul, .navbar-nav ul li ul {margin-left: -150px;} }
		/* 2nd Level Sub Menu Hide then Display on Hover */
		.nav-pills li.parent ul.nav-child li ul li, .navbar-nav li.parent ul.nav-child li ul li {display:none;padding:0px;}
		.nav-pills li.parent ul.nav-child li:hover ul li, .navbar-nav li.parent ul.nav-child li:hover ul li {display:block;padding:0px;}
		/* Nav Bar Pills Format Fixes */
		ul.nav-pills {margin-top: 15px;}


	/* Styles for Mobile Menu */
	
	
		/* If you change the 'desktop menu' to 'mobile menu' breakpoint, 
		adjust this @media breakpoint too in order for your mobile menu styles 
		to take effect. */
		
		@media (min-width: 768px) and (max-width:1001px) {.navbar .container {width: 100% !important;}	}
	
		@media (max-width: 1001px) { 
		/* Display 1st Level Sub Menu Items */
		.nav-pills li.parent ul.nav-child, .navbar-nav li.parent ul.nav-child {display:block;background: #fff;}
		/* Control Whether Mobile Menu Dropdown Is Scrollable or Not. Remove to make it scrollable. */
		.navbar-collapse.in {overflow-y: visible;}
		/* Mobile Menu Dropdown Area Styles */
		.navbar .nav > li {border-bottom: 1px dotted #646464;background: #333;}
		.nav-pills > li > a, .navbar-nav > li > a {padding-top: 15px;padding-bottom: 15px;}
		.nav-pills, .navbar-nav {background: #f8f8f8;}
		/* Remove Left Border From Hover on Dropdowns and Fix Mobile Layout */
		.nav-pills li.parent:hover ul.nav-child, .navbar-nav li.parent:hover ul.nav-child { position:relative; width:100%;border-left:0px solid #00ACE2;}
		/* Hide 2nd Level Sub Menu Items On Hover */
		.nav-pills li.parent ul.nav-child li:hover ul li, .navbar-nav li.parent ul.nav-child li:hover ul li {display:none;padding:0px;}
		.nav-pills > li {float:none;}
		ul.nav-pills {margin: 7.5px -15px;}
		}
		
		/* MOBILE MENU PANCAKE BUTTON */
		.navbar-toggle .icon-bar {width: 35px;height: 3px;}
		.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
		.navbar-toggle .menu-text {font-weight:normal;color:#ffffff;font-size:70%;}
		.navbar-default .navbar-toggle {border-color: transparent;background: #333;margin: 0px;padding: 9px 12px 3px 12px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;height: 78px !important;}
		.navbar-default .navbar-toggle:hover {border-color:#7FC2EE;background-color:#7FC2EE;}
		.navbar-default .navbar-toggle:focus {border-color:#333;background-color:#333;}
		
	
	/* TOP MENU STYLING - APP STYLE FIXED MENU FOR MOBILES */
		#menu-top ul li {float: left;border-bottom: 0px solid #eee;}
		#menu-top ul {float: right;}
		#menu-top ul li {background:#f8f8f8;}
		a.user-profile-image-link {padding:8px !important;}
				
				/*affects when to make it a fixed top menu bar */
				@media (max-width:1001px) { 
						#sk-header-top {background: #F8F8F8;position: fixed;display: block;	z-index: 9999;	width: 100%;margin-top: -42px !important; 	box-shadow: 2px 2px 4px #919191;-moz-box-shadow: 2px 2px 4px #919191;-webkit-box-shadow: 2px 2px 4px #919191;} 
						#menu-top ul {float: left;} 
						.navbar {margin-top: 41px;} 
						#menu-top ul li {background: #FFFFFF;border-right: 1px solid #ccc;border-left: 1px solid #ccc;}
						#menu-top   {padding-left:0px;padding-right:0px;}
						#sk-header-top .container {padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;}
						.navbar-collapse {border-top:0px solid #cccccc;}
				} 	

	
/* MAIN MENU STYLES AND COLORS */
	.navbar {border:0px solid #cccccc;}
	.navbar-default {background-color: #38B3E0;}
	.navbar-default .navbar-nav > li > a {color: #FFF;}
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus , .navbar-inverse .navbar-nav >  a:hover { background-color: #0275BE;display:block;}
	@media (min-width: 1001px) { 
		
		.navbar .navbar-collapse .menu li ul{border-left: 3px solid #2995BD;box-shadow: 2px 2px 4px #ccc;-moz-box-shadow: 2px 2px 4px #ccc;-webkit-box-shadow: 2px 2px 4px #ccc;border-right: 5px solid #2995BD;border-bottom: 5px solid #2995BD;}
		.nav-pills ul.nav-child li:hover, .navbar-nav ul.nav-child li:hover {background-color:#2995BD;}
		.nav-pills ul.nav-child li:hover a, .navbar-nav ul.nav-child li:hover a {color:#ffffff;}
		.navbar-nav > li:hover {background-color:#2995BD;}
		.navbar .navbar-collapse .menu li ul li ul {border-bottom: 0px solid;}
		.navbar .navbar-collapse .menu li ul li ul a {color: #2995BD;}
		.navbar .navbar-collapse .menu li ul li ul a:hover {color: #ffffff;}
		.navbar .navbar-collapse .menu li ul li:hover ul  {border-top:5px solid #2995BD;border-bottom:5px solid #2995BD;}
	}
	@media (max-width: 1001px) { 
		.navbar-default .navbar-nav > li > a {color: #ffffff;}
		.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus , .navbar-inverse .navbar-nav >  a:hover { background-color: #000000;display:block;}
	}
	.navbar-nav {margin: 0px -15px;}
	@media (min-width: 1001px) {.navbar {border-radius: 0px;} }
		
		
/* LOGO AREA */
		.logo {float: left;}
		.logo p, .logo h1, .logo h2, .logo h3 {padding:0px;margin:0px;}


		
/* ERROR PAGE SPECIFIC STYLES - USE the ID, #errorpage-styles, to specify just this page. */
		#errorpage-styles p {font-size:22px;}
		#errorpage-styles .errorpage-errorType-box {display:none;}
		#errorpage-styles .banner {min-height:600px;padding:100px 0px;}
		#errorpage-styles .banner {background: transparent;}
		#errorpage-styles .banner h2, #errorpage-styles .banner h1 {color: #38B3E0;}
		#errorpage-styles p {color: #000000;text-shadow: 2px 2px 1px #FFF;font-size: 25px;}
		#errorpage-styles p a.btn-primary {text-shadow: 0px 0px 0px #FFF;font-size: 30px;padding:15px 50px;}
		body#errorpage-styles  {padding:15px;}
		#errorpage-styles .navbar {margin-top: 0px;}


/* PRINT PAGE SPECIFIC STYLES - USE the ID, #printPageStyles, to specify just this page. */
		#printPageStyles #pop-print a {padding: 10px 50px;background: #eee;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;color: #333;font-size: 18px;text-transform: uppercase;clear: both;position: relative;}




/* CORE CONTENT DISPLAY */
		
		#main-content-area {margin-left: -15px;}
		
		#mainContentArea .article-info {font-size: 89%;margin-bottom: 20px;position: relative;display: block;}
		#mainContentArea .blog .article-info {font-size: 89%;margin: 5px 20px 5px 0px;position: relative;display: block;clear:both;height: 15px;}
		#mainContentArea .article-info dl dt, .blog dl.article-info dt {display: none;}
		#mainContentArea .article-info dl dd, #mainContentArea .blog dl.article-info  dd {float: left;margin-right: 15px;}
		#mainContentArea .blog .item {clear: both;}
		#mainContentArea .blog .page-header {clear: both;}
		#mainContentArea .info-block-below {display:none;}
		#mainContentArea .blog .items-leading .leading-0 {background: #FCFCFC;padding: 10px 20px 50px 20px;	}
		#mainContentArea .row-fluid h1.title {font-size: 300%;}
		#mainContentArea h3 {clear: both;}
		
		#mainContentArea .item-page .pull-left.item-image {float: none !important;clear: both;display: block;}
		#mainContentArea .item-page .pull-left.item-image img, #mainContentArea .blog .pull-left.item-image img {padding:5px;background:#ffffff;border:1px solid #eeeeee;margin:15px 35px 25px 0px;}
		#mainContentArea .blog .pull-left.item-image {float:left;clear:left;}
		
		#mainContentArea .blog-item-description {clear: both;margin-top: 35px;}
		#mainContentArea .blog-item-description .readmore {margin-top: 35px;}
		
		#mainContentArea .items-more {margin: 25px 0px;}
		
		#mainContentArea .blog .pagination {width: 100%;}
		#mainContentArea .blog .pagination .pull-right {float:none !important;text-align:center;}
		#mainContentArea .pagination ul {clear:both;margin: 0 auto;width: 100%;}
		#mainContentArea .pagination ul li {list-style: none;float: left;background: #333333;color: #eeeeee;padding: 10px 30px;}
		#mainContentArea .pagination ul li a {color: #90CBFF;padding: 11px;}
		#mainContentArea .pagination ul li:hover {background:#c3c3c3;}
		#mainContentArea .pagination ul li.pagination-start, #mainContentArea .pagination ul li.pagination-end {background:#5f5f5f;}
		
		/* FIX PARAGRAPH FORMATTING WHEN USER DOESN'T USE P TAGS IN CONTENT */
		#mainContentArea > div.item-page, #mainContentArea .blog {font-size: 115% !important;font-weight: normal;}
		
		.breadcrumb {background-color: #FDFDFD;font-weight: normal;opacity:.6;clear: both;}

		
/* MODULE POSITIONS, ROWS, AND COLUMNS */

		#sk-showcase, #sk-feature1, #sk-feature3, #sk-bottom-row {margin-left: -15px;margin-right: -15px;}
		#sk-showcase {background: rgba(0, 0, 0, 0.82);}

		.intro-header {padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
			padding-bottom: 50px;color: #f8f8f8;text-align: center;	}
		.intro-message {position: relative;	padding-top: 5%;padding-bottom: 5%;}
		.intro-message > h1 {margin: 0;	font-size: 5em;	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);}
		.intro-message > h3 {text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);}
		.intro-divider {width: 400px;border-top: 1px solid #f8f8f8;	border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
		@media (max-width: 767px) {
			.intro-message {padding-bottom: 15%;}
			.intro-message > h1 {font-size: 3em;}
			ul.intro-social-buttons > li {display: block;margin-bottom: 20px;padding: 0;}
			ul.intro-social-buttons > li:last-child {margin-bottom: 0;}
			.intro-divider {width: 100%;}
		}
		
		.content-section-a {background-color: #ffffff;padding: 50px 0;		}
		.content-section-b {border-top: 0px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;	padding: 50px 0;}

		.section-heading {margin-bottom: 30px;}
		.section-heading-spacer {border-top: 3px solid #e7e7e7;	width: 200px;float: left;}
		
		
		
		/* BOTTOM INFO MENU BOX AREA */
		#sk-bottom-info {background: #fff;}
		#sk-bottom-info h2 {font-size: 130%;}

		#sk-feature2 {margin-left: -15px;margin-right: -15px;background: #eeeeee;padding-top: 10px;padding-bottom: 25px;}
		
		/* BANNER AREAS STYLING */
		.banneritem a:hover img {opacity:.6;}
		#banners-sidebar-top, #banners-sidebar-bottom {margin: 20px 0px;}
		.banneritem {margin:10px 0px;}
		
		/* MODULES - RSS FEED */
		.rss-feed h2 a {display: none;margin-bottom:20px;}
		.rss-feed {	margin-bottom:20px;	}

		
/* TYPOGRAPHY AND MODULE STYLES */
		.title-line h2 {border-bottom: 1px solid #333;margin-bottom: 20px;clear:both;}
		#sk-feature2 .title-line h2 {border-bottom: 1px solid #333333;margin-bottom: 20px;}
		
		
/* CORE CONTACT FORM FIXES AND STYLES */
		.form-horizontal .control-label {text-align: left !important;} /* fix label placements */
		label {display: inline-block !important;}

		.contact-category ul li {list-style: none;padding: 5px 15px;}
		.contact-category ul {padding-left:5px;}
		.contact-category .list-title a:hover {	background: #ccc;text-decoration: none;	}
		.contact-category .list-title a {background: #eee;/* padding: 15px 80px 15px 15px; */line-height: 2.5em;font-size: 200%;display: block;text-align: center;}
		#contact-form .controls input, #contact-form .controls textarea {border-radius: 5px;padding: 10px 15px;	border: 1px solid #ccc;	width:100%;	}
		.control-group input {border-radius: 10px;padding: 10px;width: 95%;border: 1px solid #B4B4B4;box-shadow: 1px 1px 3px #ccc inset;-moz-box-shadow: 1px 1px 3px #ccc inset;-webkit-box-shadow: 1px 1px 3px #ccc inset;}
		.control-group label.control-label {font-size: 120%;margin: 15px 5px 5px 15px;}
		.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {float: left;margin-left: -20px;}
		@media (min-width: 800px) {	.contact-category ul li {float: left;width: 45%;	display: inline;position: relative;} }
		#mainContentArea > div.contact > div.contact-form, #mainContentArea > div.contact h3 {clear: both;}
		input#jform_contact_email_copy {box-shadow: 0px 0px 0px;-moz-box-shadow: 0px 0px 0px;-webkit-box-shadow: 0px 0px 0px;width: 20px !important;}
		
		/* LOGIN FORM FIX FOR SOME BROWSER LIKE FIREFOX */
		.login {clear:both;}
		
		/* REGISTERED USER PROFILE EDIT FORM STYLES AND FIXES */
		fieldset {padding: .35em .625em .75em;margin: 0 2px;border: 0px solid #c0c0c0;}
		

/* WEBLINKS EDITS */
	.weblink-category li {list-style: none;}
	
		
/* FOOTER AND COPYRIGHT */
		footer {background-color: #f8f8f8;padding: 50px 0;}
		p.copyright {margin: 15px 0 0;}
		


/* PHOCADOWNLOAD STYLING FOR DOWNLOADS */
#phoca-dl-categories-box div.pd-categoriesbox {width:100%;}
#phoca-dl-categories-box div.pd-title {font-size: 250%;}
#phoca-dl-category-box .pd-category h3, #phoca-dl-file-box .pd-file h3, #phoca-dl-download-box .pd-file h3 {font-size: 250%;}
#phoca-dl-category-box {clear: both;}
#phoca-dl-category-box .pd-filenamebox {font-size: 150%;clear:both;margin: 35px 0px 50px 0px;}
#phoca-dl-category-box .pd-buttons, #phoca-dl-file-box .pd-buttons, #phoca-dl-download-box .pd-buttons {float:none;clear:both;}
#phoca-dl-category-box .pd-buttons a, #phoca-dl-file-box .pd-buttons a, #phoca-dl-download-box .pd-buttons a{display:block;font-size:150%;}

#phoca-dl-categories-box .pd-subcategory a, #phoca-dl-category-box .pd-subcategory a {background:#0275BE;padding: 10px;font-size: 150%;margin-bottom: 20px;display: block;text-align:center;color:#ffffff;}
#phoca-dl-categories-box .pd-subcategory a:hover, #phoca-dl-category-box .pd-subcategory a:hover {background:#F0AD4E;}
#phoca-dl-categories-box .pd-subcategory, #phoca-dl-category-box .pd-subcategory {padding-left: 20px;background: none;}
#phoca-dl-categories-box .pd-subcategory small, #phoca-dl-category-box .pd-subcategory small {display: none;}

#phoca-dl-category-box .pd-category h3, #phoca-dl-file-box .pd-file h3, #phoca-dl-download-box .pd-file h3 {background: none; border:0px solid #ffffff;}

